<div style="margin-bottom:16px;">
  <span class="h3">{{repository?.name}}</span>
  <div style="float:right">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        {{selectedBranch?.name}}<span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu" >
        <li role="menuitem" *ngFor="let branch of repository?.branches"><a class="dropdown-item" routerLink="/{{id}}/{{repository?.name}}" [queryParams]="{tab: activeTab, branch: branch.name}">{{branch.name}}</a></li>
      </ul>
    </div>
    &nbsp;
    <a href="{{repository?.getRepoUrl(selectedId)}}" target="_blank"><img src="assets/GitHub-Mark-32px.png"/></a>
  </div>
</div>
<tabset>
  <tab [active]="activeTab == 1" (select)="selectTab('Cve')">
    <template tabHeading>
      CVEs <small></small>
    </template>
    <app-repository-cve-detail [selectedRepository]="repository" [selectedId]="id" [selectedBranch]="selectedBranch"></app-repository-cve-detail>
  </tab>
  <tab [active]="activeTab == 2" (select)="selectTab('Typo')">
    <template tabHeading>
      Typos <small></small>
    </template>
    <app-repository-typo-detail [selectedRepository]="repository" [selectedId]="id" [selectedBranch]="selectedBranch"></app-repository-typo-detail>
  </tab>
</tabset>
