<div class="container">
  <div style="float:left">
    <span class="glyphicon glyphicon-circle-arrow-right clickable" style="float:right" (click)="collapseToggle()" *ngIf="isCollapsed">
    </span>
  </div>

  <div class="col-md-2 left-outer-box" [class.col-md-2]="!isCollapsed" [collapse]="isCollapsed">
    <div style="margin-bottom:3px"><span class="h5">Repositories</span><span class="glyphicon glyphicon-circle-arrow-left clickable" style="float:right" (click)="collapseToggle()"></span></div>
    <div *ngFor="let repo of repositories" class="left-inner-box">
      <a routerLink="/{{selectedId}}/{{repo.name}}"  class="content-box" style="display:block" [class.left-content-box-selected]="repo == selectedRepository" ><!--[queryParams]="{tab: activeTab, branch: repo.getDefaultBranch()?.name}"-->
        <div>{{repo.name}}</div>        
        <div><a href="{{repo.getRepoUrl(userInfo.id)}}" target="_blank">github</a></div>
      </a>
    </div>
  </div>
  <div class="col-md-10" [class.col-md-10]="!isCollapsed">
    <app-branch-master  [selectedRepository]="selectedRepository" [selectedId]="selectedId"></app-branch-master>
  </div>
</div>
