<div class="container">
  <div style="float:left">
    <span class="glyphicon glyphicon-circle-arrow-right clickable" style="float:right" (click)="collapseToggle()" *ngIf="isCollapsed">
    </span>
  </div>

  <div class="col-md-2 left-outer-box" [class.col-md-2]="!isCollapsed" [collapse]="isCollapsed">

    <div style="margin-bottom:3px"><span class="h5">Repositories</span><span class="glyphicon glyphicon-circle-arrow-left clickable" style="float:right" (click)="collapseToggle()"></span></div>
    <div *ngFor="let repo of repositories" class="left-inner-box" (click)="selectRepository(repo)">
      <div class="content-box" [class.left-content-box-selected]="repo == selectedRepository">
        <div>{{repo.name}}</div>
        <div><a href="{{repo.getRepoUrl(userInfo.id)}}" target="_blank">github</a></div>
      </div>
    </div>

  </div>
  <div class="col-md-10" [class.col-md-10]="!isCollapsed">
    <div class="container-fluid" [class.right-box-collapsed]="isCollapsed" >
      <div style="margin-bottom:16px;">
        <span class="h3">{{selectedRepositoryName}}</span>
        <a href="{{selectedRepository?.getRepoUrl(selectedId)}}" target="_blank" style="float:right"><img src="assets/GitHub-Mark-32px.png"/></a>
      </div>
      <tabset>
        <tab [active]="activeTab == 1" (select)="selectTab('Cve')">
          <template tabHeading>
            CVEs <small>({{selectedRepository?.cves.length}})</small>
          </template>
          <app-repository-cve-detail [repository]="selectedRepository"></app-repository-cve-detail>
        </tab>
        <tab [active]="activeTab == 2" (select)="selectTab('Typo')">
          <template tabHeading>
            Typos <small>(0)</small>
          </template>
          <app-repository-typo-detail [repository]="selectedRepository"></app-repository-typo-detail>
        </tab>
      </tabset>
    </div>
  </div>
</div>
