<div>
  <div class="container-fluid outer-box" >
    <div class="row equal" *ngIf="branch?.commits?.length == 0">
      <div style="text-align:center;width:100%"><h4>&nbsp;&nbsp;&nbsp;There are no results in {{branch.name}} branch.</h4></div>
      <div style="text-align:center;width:100%">
        <button type="button" class="btn btn-default btn-md" aria-label="Left Align" (click)="find()">
          <i class="fa fa-search" aria-hidden="true"> Find</i>
      </button></div>
    </div>
    <accordion>
      <accordion-group #group *ngFor="let commit of branch?.commits; let i = index" [panelClass]="customClass" [isOpen]="i==0" >
        <div accordion-heading (click)="loadTree(commit)">
          <div><span style="float:left">commits: {{commit.message}} ({{commit.sha}}<span *ngIf="getTypoCount(commit)">, A number of typo is {{getTypoCount(commit)}}</span></span>)&nbsp;<span style="float:right">{{commit.committerName}}, {{commit.status}}&nbsp;&nbsp;<i class="pull-right float-xs-right glyphicon"
                                                                                                                                                      [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i></span></div>
        </div>
        
        <div *ngIf="commit?.status == 'FAILED'" style="width:100%;text-align:center">
          <button class="btn-md btn btn-default" (click)="retry(commit.sha)">
            <i class="fa fa-repeat" aria-hidden="true"> Oops.. Find again</i>
          </button>
        </div>
        <div *ngIf="commit?.status == 'FINISHED'">
          <div *ngIf="!commit.tree" style="text-align: center">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i><br>
            <i class="fa-2x fa-fw">Loading tree...</i>
          </div>

          <div class="row equal" *ngIf="commit.tree">
            <div class="col-md-6 col-sm-12 left-content-box">
              <tree [tree]="commit?.tree" [settings]="treeSettings" (nodeSelected)="selectGitNode(commit, $event)"></tree>
            </div>
            <div class="col-md-6 col-sm-12">
              <div *ngIf= "selectedNodeMap[commit.sha]?.value" style="margin-bottom:5px; border-bottom:1px solid #aaaaaa">{{selectedNodeMap[commit.sha]?.value}}</div>
              <div style="float:right"><a *ngIf="selectedNodeMap[commit.sha]?.githubLink" href="{{selectedNodeMap[commit.sha]?.githubLink}}" target="_blank" class="glyphicon glyphicon-link"></a></div>
              <app-highlight-text [node]="selectedNodeMap[commit.sha]" (onTypoCompRemoved)="removeTypoComp(commit, selectedNodeMap[commit.sha].typoInfo.id, $event)"></app-highlight-text>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
