<div>
  <div class="container-fluid outer-box" >
    <div class="row equal" *ngIf="branch?.commits.length == 0">
      &nbsp;&nbsp;&nbsp;There are no commits in {{branch.name}} branch.
    </div>
    <accordion>
      <accordion-group #group *ngFor="let commit of branch?.commits; let i = index" [panelClass]="customClass" [isOpen]="i==0">
        <div accordion-heading>
          <div><span style="float:left">commits: {{commit.message}} ({{commit.sha}}, A number of typo is {{getTypoCount(commit)}})</span>&nbsp;<span style="float:right">{{commit.committerName}}&nbsp;&nbsp;<i class="pull-right float-xs-right glyphicon"
                                                                                                                                                      [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i></span></div>
        </div>
        <div class="row equal">
          <div class="col-md-6 col-sm-12 left-content-box">
            <tree [tree]="commit?.tree" [settings]="treeSettings" (nodeSelected)="select(commit, $event)"></tree>
          </div>
          <div class="col-md-6 col-sm-12">
            <div style="float:right"><a *ngIf="selectedNodeMap[commit.sha]?.githubLink" href="{{selectedNodeMap[commit.sha]?.githubLink}}" target="_blank" class="glyphicon glyphicon-link"></a></div>
            <div [innerHtml]="getFormattingText(selectedNodeMap[commit.sha]?.typoInfo)">
            </div>
          </div>
        </div>

      </accordion-group>
    </accordion>
  </div>
</div>
