.left-content-box {
    border-right: 1px solid #cccccc;
}

.outer-box {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

@media(max-width: 969px) {
    .left-content-box {
        border-right: none;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
}

.commit-box:nth-child(n+2) {
    border-top: 1px solid #cccccc;
    padding-top: 8px;
}
