<h1 style="color:#63c637">
  Provide security to your projects.
</h1>
<h3>
  Let's check vulnerability and functions for maintaining your projects.
</h3>
<div>
  <button type="button" class="btn btn-lg btn-success" (click)="requestUserIdentity()">Sign up</button>
</div>
<footer class="welcome-footer">
  <div class="container" style="text-align:left">
    <ul style="padding-left:0px">
      <li>
        <a>Github</a>
      </li>
      <li>
        <a>Author</a>
      </li>
    </ul>
    <p>
      It's free to use this service. It's managed and designed by <a target="_blank" href="https://github.com/qwefgh90">here</a>
    </p>
  </div>
</footer>
