<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>Choe Changwon</p>
      <p>Managed repo 10/40</p>
    </div>
    <div class="col-sm-8">
      <h2>Repositories</h2>
      <div class="container-fluid">
        <div class="row child-empty-pad">
          <div class="col-sm-8">
            <span>switch repositories in following list</span>
          </div>
          <div class="col-sm-4" style="text-align:right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Custom
          </div>
        </div>
        <div class="row" *ngFor="let repository of repositories">
          <div class="btn-group">
            <label class="btn btn-success" [(ngModel)]="repository.activated" btnRadio="on"
                   uncheckable>On</label>
            <label class="btn btn-success" [(ngModel)]="repository.activated" btnRadio="off"
                   uncheckable>Off</label>
          </div>
          <a href="{{repository.accessLink}}">{{userInfo.id}}/{{repository.name}}</a>
        </div>
      </div>
    </div>
  </div>
<div>
