/* You can add global styles to this file, and also import other style files */

/* style for tree carot */
tree-internal .tree .folding{
    cursor: pointer;
}

span.clickable:hover {
    cursor: pointer;
}

a.content-box:hover {
    background-color: #eeeeee;
    cursor: pointer;
    text-decoration: none;
}

a.content-box {
    text-decoration: none;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.outer-box {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

/* custom style for ng2-tree */
div.disabled + div.node-value {
    color: #666666;
}

/* custom style for ng2-accordion #5bc0de;*/
.panel.customClass .panel-heading {
  background-color: #555555;
  color: #fff;
}

/* tooltip */
.tooltip-src {
    position: relative;
    fond-size: 15px;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;*/
}

.tooltip-src .typo {
    text-decoration: line-through;
    font-weight: bold;
}

.tooltip-src .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 7px 0px 7px 7px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -40px;
}

.tooltip-src:hover .tooltiptext {
    visibility: visible;
}
