<div class="container">
  <div style="text-align:center;margin-bottom:20px;">
    <h1><img src="{{userInfo.imgUrl}}" alt="Profile image"/></h1>
    <h3>
<a target="_blank" href="{{userInfo.getProfileGithubUrl()}}"><img src="assets/GitHub-Mark-32px.png"/></a></h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="repository-outer-box" *ngFor="let repo of repositories">
        <div class="reponame-box">
          <a routerLink="/{{userInfo.id}}/{{repo.name}}" class="" style="font-size:large;">{{userInfo.id}}/{{repo.name}}</a>
          <button class="btn btn-xs btn-success" style="float:right" *ngIf="repo.activated == 'on'" routerLink="{{userInfo.getProfilePath()}}">running</button>
          <button class="btn btn-xs" style="float:right" *ngIf="repo.activated == 'off'" routerLink="{{userInfo.getProfilePath()}}">stopped</button>
        </div>
        <div>
          <span>vulnerable: </span>
          <button class="btn btn-xs btn-danger" [tooltip]="popTemplate1" placement="right" triggers="click:click" *ngIf="getLastestCveCount(repo) >= 1" (click)="closeTooltip(popTemplate1)">fix it</button>
          <button class="btn btn-xs btn-success" *ngIf="getLastestCveCount(repo) == 0">clear</button>
          <template #popTemplate1>
            <header><span>CVE List</span>
              <span class="glyphicon glyphicon-remove clickable" (click)="closeTooltip(popTemplate1);"></span>
            </header>
            <div>
                <div *ngFor="let cve of repo.cves"><a href="#">{{cve.cve}}</a></div>
            </div>
          </template>
        </div>
        <div>
          <span>typo: </span>
          <button class="btn btn-xs" [tooltip]="popTemplate2" placement="right" triggers="click:click" (click)="closeTooltip(popTemplate2)">{{getLastestTypoCount(repo)}}</button>
          <template #popTemplate2>
            <header><span>Header</span>
              <span class="glyphicon glyphicon-remove clickable" (click)="closeTooltip(popTemplate2)"></span>
            </header>
            <div>body</div></template>
        </div>

      </div>
    </div>
  </div>
</div>
