<div class="container">
  <div style="text-align:center;margin-bottom:20px;">
    <h1><img src="{{userInfo.imgUrl}}" alt="Profile image"/></h1>
    <h3><a target="_blank" href="{{userInfo.getProfileUrl()}}">{{userInfo.id}}</a></h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="repository-outer-box" *ngFor="let repo of repositories">
        <div class="reponame-box">
          <a target="_blank" href="{{repo.getRepoUrl(userInfo.id)}}" class="" style="font-size:large;">{{userInfo.id}}/{{repo.name}}</a>
        </div>
        <div>
          <span>vulnerable level:</span>
          <button class="btn btn-xs btn-danger" [tooltip]="popTemplate" placement="right" triggers="click:click">danger</button>
          <template #popTemplate>
            <header><span>Header</span>
              <span class="glyphicon glyphicon-remove clickable"></span>
            </header>
            <div>body</div></template>
        </div>
        <div>
          <span>typo count:</span>
          <button class="btn btn-xs" [tooltip]="popTemplate2" placement="right" triggers="click:click">3</button>
          <template #popTemplate2>
            <header><span>Header</span>
              <span class="glyphicon glyphicon-remove clickable"></span>
            </header>
            <div>body</div></template>
        </div>

      </div>
    </div>
  </div>
</div>
