<div class="container">
  <div style="text-align:center;margin-bottom:20px;">
    <h1><img alt="Profile image"/></h1>
    <h3>qwefgh90</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="repository-outer-box">
        <div>
          <a href="#">qwefgh90/Reponame</a>
        </div>
        <div>
          <span>vulnerable level: <button class="btn btn-xs btn-danger" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="right" triggers="click:click">danger</button></span>
        </div>
        <div>
          <span>typo count: <button class="btn btn-xs" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="right" triggers="click:click">3</button></span>
        </div>

      </div>
    </div>
  </div>
</div>
